<!DOCTYPE html>
<html>

<head>
  <title>Othello</title>
  <script src="/lib/angular.min.js"></script>
</head>

<body>
  <div id="main_container" class="container">
    <div id="board_container" class="container">
      <div *ngFor="let tileRow of tiles">
        <button [ngClass]="{'gameTile': true,
                            'gameTileBlackValid': isValidMove(tile.x, tile.y) && currentTurn === TileColor.BLACK && !showMoves,
                            'gameTileWhiteValid': isValidMove(tile.x, tile.y) && currentTurn === TileColor.WHITE && !showMoves,
                            'gameTileBlackValidHover': isValidMove(tile.x, tile.y) && currentTurn === TileColor.BLACK && isHovered(tile.x, tile.y) && !showMoves,
                            'gameTileWhiteValidHover': isValidMove(tile.x, tile.y) && currentTurn === TileColor.WHITE && isHovered(tile.x, tile.y) && !showMoves,
                            'gameTileBlackAllValid': isValidMove(tile.x, tile.y) && currentTurn === TileColor.BLACK && showMoves,
                            'gameTileWhiteAllValid': isValidMove(tile.x, tile.y) && currentTurn === TileColor.WHITE && showMoves,
                            'gameTileBlackAllValidHover': isValidMove(tile.x, tile.y) && currentTurn === TileColor.BLACK && isHovered(tile.x, tile.y) && showMoves,
                            'gameTileWhiteAllValidHover': isValidMove(tile.x, tile.y) && currentTurn === TileColor.WHITE && isHovered(tile.x, tile.y) && showMoves,
                            'gameTileBlack': tile.val === TileColor.BLACK,
                            'gameTileWhite': tile.val === TileColor.WHITE}"
                (mouseenter)="setHover(tile.x, tile.y, true)"
                (mouseleave)="setHover(tile.x, tile.y, false)"
                *ngFor="let tile of tileRow;
                let index=index;
                let isOdd=odd;
                let isEven=even"
                [attr.disabled]="(isValidMove(tile.x, tile.y)) ? null : true"
                (click)="clicked(tile.x, tile.y)"></button>
      </div>
    </div>
    <div id="UI_container" class="container">
      <h1>OTHELLO</h1>
      <button id="turnDisplay"
            ngClass="gameTile"
            [attr.disabled]="true"
            [class.gameTileBlack]="currentTurn === TileColor.BLACK"
            [class.gameTileWhite]="currentTurn === TileColor.WHITE"></button><br><br>
      <mat-checkbox id="show_valid_moves"
                    [checked]="showMoves"
                    (change)="showMoves = !showMoves">Show Valid Moves</mat-checkbox><br><br>
      <button mat-raised-button id="start_game" (click)="test()">Start Game</button>
    </div>
  </div>
</body>

</html>