h1 {
    padding: .2em;
}

.gameTile {
    background-image: url("../assets/empty_tile.png");
    background-size: cover;
    color: white;
    width: 5em;
    height: 5em;
}
.gameTile:hover {
    background-color: #6A5D05;
}
.gameTileBlack {
    background-image: url("../assets/black_tile.png");
    background-size: cover;
}

.gameTileWhite {
    background-image: url("../assets/white_tile.png");
    background-size: cover;
}