/*@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";*/

h1 {
    padding: 3px;
    text-align: center;
    font-family: Impact;
    font-style: normal;
    font-size: 2.2em;
}

#main_container {
    position: relative;
    display: flex;
}

#board_container {
    display: inline;
    border: 0.2em solid;
    border-color: #787474;
    margin-right: 0.3em;
}

#UI_container {
    display: inline;
    border: 0.2em solid;
    border-color: #787474;
}

#show_moves {
    display: inline;
    padding: 2px;
}

#start_game {
    display: block;
    margin: auto;
    width: 60%;
}

.gameTile {
    background-image: url("../assets/empty_tile.png");
    background-size: cover;
    color: white;
    width: 5em;
    height: 5em;
}

.gameTileBlackValid {
    background-image: url("../assets/empty_tile.png");
    background-size: cover;
}

.gameTileBlackValidHover {
    background-image: url("../assets/black_tile.png");
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
}

.gameTileBlackAllValid {
    background-image: url("../assets/black_tile.png");
    background-size: cover;
    opacity: 0.3;
}

.gameTileBlackAllValidHover {
    background-image: url("../assets/black_tile.png");
    background-size: cover;
    opacity: 0.6;
    cursor: pointer;

}

.gameTileWhiteValid {
    background-image: url("../assets/empty_tile.png");
    background-size: cover;
}

.gameTileWhiteValidHover {
    background-image: url("../assets/white_tile.png");
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
}

.gameTileWhiteAllValid {
    background-image: url("../assets/white_tile.png");
    background-size: cover;
    opacity: 0.3;
}

.gameTileWhiteAllValidHover {
    background-image: url("../assets/white_tile.png");
    background-size: cover;
    opacity: 0.6;
    cursor: pointer;
}

.gameTileBlack {
    background-image: url("../assets/black_tile.png");
    background-size: cover;
}

.gameTileWhite {
    background-image: url("../assets/white_tile.png");
    background-size: cover;
}